# Data wrangling tutorial for Python with pandas

This pandas tutorial mimicks the familiar [dplyr example with the NYC Flights dataset](https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html) and the [reshape2 example with the Air Quality dataset](http://seananderson.ca/2013/10/19/reshape.html).

## First up: basics, slicing, and aggregating

**R code:**

```R
library(dplyr)
```

**Python equivalent:**

In [4]:
%matplotlib notebook
import pandas as pd

Note that the first line above is only used to tell Jupyter to make plots inline.

**R code:**

```R
df <- read.csv("./data/flights.csv")
```

**Python equivalent:**

In [5]:
df = pd.read_csv("./data/flights.csv")

**R code:**

```R
dim(df)
```

**Python equivalent:**

In [6]:
df.shape

(336776, 19)

**R code:**

```R
head(df)
```

**Python equivalent:**

In [7]:
df.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

**R code:**

```R
head(filter(df, month == 1, day == 1))
```

**Python equivalent:**

In [8]:
df.loc[(df['month'] == 1) & (df['day'] == 1)].head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

**R code:**

```R
head(filter(df, month == 1 | month == 2))
```

**Python equivalent:**

In [9]:
df.loc[(df['month'] == 1) | (df['month'] == 2)].head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

**R code:**

```R
head(filter(df, month == 1 | month == 2))
```

**Python equivalent:**

In [10]:
df.sort_values(by=['year', 'month', 'day'], inplace=False).head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

**R code:**

```R
head(arrange(df, desc(arr_delay)))
```

**Python equivalent:**

In [11]:
df.sort_values(by=['arr_delay'], ascending=False).head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
7072,2013,1,9,641.0,900,1301.0,1242.0,1530,1272.0,HA,51,N384HA,JFK,HNL,640.0,4983,9,0,2013-01-09 09:00:00
235778,2013,6,15,1432.0,1935,1137.0,1607.0,2120,1127.0,MQ,3535,N504MQ,JFK,CMH,74.0,483,19,35,2013-06-15 19:00:00
8239,2013,1,10,1121.0,1635,1126.0,1239.0,1810,1109.0,MQ,3695,N517MQ,EWR,ORD,111.0,719,16,35,2013-01-10 16:00:00
327043,2013,9,20,1139.0,1845,1014.0,1457.0,2210,1007.0,AA,177,N338AA,JFK,SFO,354.0,2586,18,45,2013-09-20 18:00:00
270376,2013,7,22,845.0,1600,1005.0,1044.0,1815,989.0,MQ,3075,N665MQ,JFK,CVG,96.0,589,16,0,2013-07-22 16:00:00

**R code:**

```R
head(select(df, year, month, day))
```

**Python equivalent:**

In [12]:
df[['year', 'month', 'day']].head()

   year  month  day
0  2013      1    1
1  2013      1    1
2  2013      1    1
3  2013      1    1
4  2013      1    1

**R code:**

```R
head(select(df, year:day))
```

**Python equivalent:**

In [13]:
df.iloc[:, 0:3].head()

   year  month  day
0  2013      1    1
1  2013      1    1
2  2013      1    1
3  2013      1    1
4  2013      1    1

**R code:**

```R
head(select(df, -(year:day)))
```

**Python equivalent:**

In [14]:
df.drop(df.columns[0:3], axis=1).head()
# df.drop(['year', 'month', 'day'], axis=1).head()

,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

**R code:**

```R
df = rename(df, tail_num = tailnum)
head(df)
```

**Python equivalent:**

In [15]:
df.rename(columns={'tailnum': 'tail_num'}, inplace=True)

**R code:**

```R
distinct(df, tail_num)
```

**Python equivalent:**

In [16]:
df['tail_num'].unique()

array(['N14228', 'N24211', 'N619AA', ..., 'N776SK', 'N785SK', 'N557AS'], dtype=object)

**R code:**

```R
unique_vals <- distinct(df, origin, dest)
```

**Python equivalent:**

In [17]:
unique_vals = df[['origin', 'dest']].drop_duplicates()
unique_vals.head()

  tail_num dest
0   N14228  IAH
1   N24211  IAH
2   N619AA  MIA
3   N804JB  BQN
4   N668DN  ATL

**R code:**

```R
mutate(df, 
       gain = arr_delay - dep_delay,
       speed = distance / air_time * 60)
```

**Python equivalent:**

In [18]:
df['gain'] = df['arr_delay'] - df['dep_delay']
df['speed'] = df['distance'] / df['air_time'] * 60
df.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tail_num,origin,dest,air_time,distance,hour,minute,time_hour,gain,speed
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,9.0,370.044053
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,16.0,374.273128
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,31.0,408.375000
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,-17.0,516.721311
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,-19.0,394.137931

**R code:**

```R
summarise(df, 
          delay = mean(dep_delay, na.rm = TRUE))
```

**Python equivalent:**

In [19]:
df['dep_delay'].mean()

12.639070257304708

**R code:**

```R
sample_n(df, 5)
```

**Python equivalent:**

In [20]:
df.sample(n=5)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tail_num,origin,dest,air_time,distance,hour,minute,time_hour,gain,speed
14494,2013,1,17,1440.0,1444,-4.0,1745.0,1802,-17.0,UA,...,N824UA,EWR,AUS,230.0,1504,14,44,2013-01-17 14:00:00,-13.0,392.347826
35876,2013,10,10,1223.0,1230,-7.0,1349.0,1405,-16.0,AA,...,N576AA,LGA,ORD,101.0,733,12,30,2013-10-10 12:00:00,-9.0,435.445545
314046,2013,9,6,1027.0,1030,-3.0,1301.0,1340,-39.0,VX,...,N623VA,EWR,SFO,320.0,2565,10,30,2013-09-06 10:00:00,-36.0,480.937500
210230,2013,5,19,812.0,815,-3.0,1015.0,1047,-32.0,DL,...,N365NW,LGA,DEN,211.0,1620,8,15,2013-05-19 08:00:00,-29.0,460.663507
147831,2013,3,13,1342.0,1330,12.0,1643.0,1629,14.0,B6,...,N510JB,LGA,SRQ,158.0,1047,13,30,2013-03-13 13:00:00,2.0,397.594937

**R code:**

```R
dim(sample_frac(df, 0.01))
```

**Python equivalent:**

In [21]:
df.sample(frac=0.01).shape

(3368, 21)

**R code:**

```R
summary <- df %>% group_by(tail_num) %>% 
  summarise(count = n(),
            dist = mean(distance, na.rm = TRUE),
            delay = mean(arr_delay, na.rm = TRUE))
```

**Python equivalent:**

In [22]:
summary = df.groupby('tail_num').agg({
        'distance': {
            'count': 'count',
            'dist': 'mean'
        },
        'arr_delay': {
            'delay': 'mean'
        }
    }).reset_index(col_level=1)
summary.head()

            arr_delay distance
  tail_num      delay    count        dist
0   D942DN  31.500000        4  854.500000
1   N0EGMQ   9.982955      371  676.188679
2   N10156  12.717241      153  757.947712
3   N102UW   2.937500       48  535.875000
4   N103US  -6.934783       46  535.195652

**R code:**

```R
delay <- summary %>% filter(count > 20, dist < 2000)
head(delay)
```

**Python equivalent:**

In [23]:
delay = summary.loc[(summary['distance']['count'] > 20) & (summary['distance']['dist'] < 2000)]
delay.head()

            arr_delay distance
  tail_num      delay    count        dist
1   N0EGMQ   9.982955      371  676.188679
2   N10156  12.717241      153  757.947712
3   N102UW   2.937500       48  535.875000
4   N103US  -6.934783       46  535.195652
5   N104UW   1.804348       47  535.255319

In [24]:
# To make the result look more like it does in R, we could also do this:
summary.columns = summary.columns.droplevel(0)
summary = summary.reset_index()
summary.head()

   index tail_num      delay  count        dist
0      0   D942DN  31.500000      4  854.500000
1      1   N0EGMQ   9.982955    371  676.188679
2      2   N10156  12.717241    153  757.947712
3      3   N102UW   2.937500     48  535.875000
4      4   N103US  -6.934783     46  535.195652

In [25]:
# Then do perform the filter step, we could do
delay = summary.loc[(summary['count'] > 20) & (summary['dist'] < 2000)]
delay.head()

   index tail_num      delay  count        dist
1      1   N0EGMQ   9.982955    371  676.188679
2      2   N10156  12.717241    153  757.947712
3      3   N102UW   2.937500     48  535.875000
4      4   N103US  -6.934783     46  535.195652
5      5   N104UW   1.804348     47  535.255319

**R code:**

```R
ggplot(delay, aes(dist, delay)) +
  geom_point(aes(size = count), alpha = 1/2)
```

**Python equivalent:**

In [26]:
delay.plot(x='dist', y='delay', kind='scatter')

**R code:**

```R
destinations <- flights %>% group_by(dest)
  summarise(planes = n_distinct(tail_num),
            flights = n())
```

**Python equivalent:**

In [27]:
destinations = df.groupby('dest').agg({
        'tail_num': {
            'planes': lambda x: x.nunique(),
            'flights': 'count'
        }
    })
destinations.head()

     tail_num
       planes flights
dest
ABQ       108     254
ACK        58     265
ALB       172     439
ANC         6       8
ATL      1179   17212

## Next up: melting and casting

**R code:**

```R
library(reshape2)
airquality <- read.csv("./data/airquality.csv")
head(airquality)
```

**Python equivalent:**

In [28]:
airquality = pd.read_csv("./data/airquality.csv")
airquality.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

**R code:**

```R
aql <- melt(airquality, id.vars = c("month", "day"))
head(aql)
```

**Python equivalent:**

In [29]:
aql = pd.melt(airquality, id_vars=['Month', 'Day'])
aql.head()

   Month  Day variable  value
0      5    1    Ozone   41.0
1      5    2    Ozone   36.0
2      5    3    Ozone   12.0
3      5    4    Ozone   18.0
4      5    5    Ozone    NaN

**R code:**

```R
aql <- melt(airquality, id.vars = c("month", "day"),
  variable.name = "climate_variable", 
  value.name = "climate_value")
head(aql)
```

**Python equivalent:**

In [30]:
aql = pd.melt(airquality, id_vars=['Month', 'Day'],
              var_name='climate_variable',
              value_name='climate_value')
aql.head()

   Month  Day climate_variable  climate_value
0      5    1            Ozone           41.0
1      5    2            Ozone           36.0
2      5    3            Ozone           12.0
3      5    4            Ozone           18.0
4      5    5            Ozone            NaN

**R code:**

```R
aql <- melt(airquality, id.vars = c("month", "day"))
aqw <- dcast(aql, month + day ~ variable)
head(aqw)
```

**Python equivalent:**

In [31]:
aql = pd.melt(airquality, id_vars=['Month', 'Day'])
aqw = aql.pivot_table(index=['Month', 'Day'], columns='variable', values='value').reset_index()
aqw.head()

variable  Month  Day  Ozone  Solar.R  Temp  Wind
0             5    1   41.0    190.0  67.0   7.4
1             5    2   36.0    118.0  72.0   8.0
2             5    3   12.0    149.0  74.0  12.6
3             5    4   18.0    313.0  62.0  11.5
4             5    5    NaN      NaN  56.0  14.3